.container{
    margin:10px;
    border:2px solid black;
    text-align: center;
    padding-top:10px;
    display:block;
    padding-bottom:20px;
}

 .info{
    display:block;
    margin:auto;
    text-align: center;
    height:400px;
    width:auto;
    padding:15px 0 15px 0;
    border:2px solid red;
    width:400px;
    display: flex;
    flex-direction: column;
    
 }
 .info input{
    width:auto;
    text-align: left;
    display: inline;
 }
 